body {
  position: relative;
  font-family: 'Roboto' , Arial;
  margin: 0;
}
.logo-container {
  position: absolute;
  background-color: rgb(8, 186, 245);
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 150px;
  width: 150px;
}
.logo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-name {
  color: white;
  font-weight: bold;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 20px;
}
.company-motto {
  color: white;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin-left: 560px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 100px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.remember {
  display: flex;
  margin-bottom: 30px;
}

.last {
  display: flex;
  align-items:  center;
}

.clicked {
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
  color: rgb(8, 165, 218);
}
.not-clicked {
  margin-right: 15px;
  cursor: pointer;
  color: black;
}
.clicks {
  margin-bottom: 25px;
}
.log {
  font-size: 17px;
  padding-left: 20px;
  padding-right: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-style: solid;
  background-color: rgb(158, 218, 238);
  color: black;
  border-color: lightblue;
  border-radius: 10px;
}

.log-but {
  background-color: rgb(8, 186, 245);
  color: white;
  border-color: rgb(8, 186, 245);
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  border-radius: 15px;
  height: 35px;
  margin-right: 18px;
  cursor: pointer;
}

.forgot {
  font-weight: bold;
  cursor: pointer;
}

.log-but a {
  text-decoration: none;
  color: white;
}

.sub-but a {
  text-decoration: none;
  color: white;
}

.sub-but {
  background-color: rgb(8, 186, 245);
  color: white;
  border-color: rgb(8, 186, 245);
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  border-radius: 15px;
  height: 35px;
  margin-right: 18px;
  cursor: pointer;
  margin-top: 15px;
}

.clicks a {
  text-decoration: none;
}

@media (max-width: 992px) {
  p {
    font-size: 20px;
  }
  .main {
    display: flex;
    flex-direction: column;
  justify-content: normal;
  align-items: center;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  }
  .logo1 {
    margin-top: 10px;
  }
  .logo-container {
    position: relative;
    background-color: white;
    display: flex;
    align-items: normal;
    justify-content: normal;
    height: auto;
    margin-top: 100px;
  }
  .login-form {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 0;
  text-align: left;
  }
  .log {
    width: 340px;
  }
}