@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto' , Arial;
    margin: 0
}
.login-container {
    font-family: 'Roboto', sans-serif;
    background-image: url('/Pictures/HD-wallpaper-konoha-house-scenic-naruto-naruto-shippuuden-home-beautiful-mountain-city-multicolor-anime-color-shippuuden-beauty-scenery-ninja-shinobi-town-sky-building-scene-landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #444;
}

input[type=text], input[type=password] {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #666;
}
